target/
build/
.idea/
.vscode/
*.iml
*.class
target/classes/itu/GreenField/model/CategorieProduit.class
target/classes/itu/GreenField/model/Client.class
target/classes/itu/GreenField/model/Commandes.class
target/classes/itu/GreenField/model/DemandeStockFille.class
target/classes/itu/GreenField/model/DetailsCommande.class
target/classes/itu/GreenField/model/MvtStock.class
target/classes/itu/GreenField/model/PointDeVente.class
target/classes/itu/GreenField/model/Produit.class
target/classes/itu/GreenField/model/TransfertsFille.class
target/classes/itu/GreenField/repository/ClientRepository.class
target/classes/itu/GreenField/repository/MvtStockRepository.class
target/classes/itu/GreenField/repository/ProduitRepository.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/itu/GreenField/model/CategorieProduit.class
target/classes/itu/GreenField/model/Client.class
target/classes/itu/GreenField/model/Commandes.class
target/classes/itu/GreenField/model/DemandeStockFille.class
target/classes/itu/GreenField/model/DetailsCommande.class
target/classes/itu/GreenField/model/MvtStock.class
target/classes/itu/GreenField/model/PointDeVente.class
target/classes/itu/GreenField/model/Produit.class
target/classes/itu/GreenField/model/TransfertsFille.class
target/classes/itu/GreenField/repository/ClientRepository.class
target/classes/itu/GreenField/repository/CommandesRepository.class
target/classes/itu/GreenField/repository/EmployesRepository.class
target/classes/itu/GreenField/repository/MvtStockRepository.class
target/classes/itu/GreenField/repository/ProduitRepository.class
target/classes/itu/GreenField/repository/VehiculeRepository.class
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
*.lst
