<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire avance</title>
</head>

<body>
    <h1>Formulaire avance</h1>

    <form action="#" method="POST">
        <p>Le montant total : </p>
        <p>Vous devez payer un avance (le tier du montant) : </p>
        <p>Mode de paiement : </p>
        <div>
            <div th:each="t : ${typesPaiement}">
                <label>
                    <input type="radio" name="typePayement" th:value="${t}">
                    <span th:text="${t}"></span>
                </label>
            </div>
        </div>

        <button type="submit">Payer</button>
    </form>

</body>

</html>