<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <main>
      <h1>Login</h1>

      <div class="message error" th:if="${error}" th:text="${error}"></div>

      <form th:action="@{/login}" method="post">
        <label>
          Email
          <input type="email" name="email" required />
        </label>

        <label>
          Mot de passe
          <input type="password" name="motDePasse" required />
        </label>

        <button type="submit">Se connecter</button>
      </form>
    </main>
  </body>
</html>
